$bg-color: #151515;
$border-color: #2f2f2f;
$font-primary-color: #dedede;
$soft-blue-color: #0075BE;
$poke-color-first: #FFCC00;
$poke-color-second: #0075BE;
$poke-color-third: #0A285F;
$poke-ball-color: #FB1B1B;
$main-font: 'Roboto', sans-serif;
$poke-font: 'Pokemon Solid', sans-serif;
$monospace-font: 'Fira Code', monospace;

@import "defaultStyles";
@import "mainPage";
@import "pokeContainer";
@import "pokeFavourites";
